body {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  width: 250px;
  height: 250px;
  background-color: rgb(158, 243, 158);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  place-self: center;
}

.card:hover {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 15rem;
}

.card__img {
  width: 200px;
  height: 200px;
}

